{%extends "admin_layout.html"%}   <!--inherited all nav feature-->
{%block content%}
              <div class="container">
                {%if theatres%}
                <div class="row">
                    {%for theatre in theatres%}
                  <div class="col">
                    <!-- venue1 card here -->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{theatre.name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{theatre.location}}</h6>
                          {%if theatre.shows%}
                          <table>
                            <tr><th>ID</th><th>Name</th><th>Date/Time</th></tr>
                            {%for show in theatre.shows%}
                            <tr><th>{{show.id}}</th><th>{{show.name}}</th><th>{{show.date_time}}</th></tr>
                            {%endfor%}
                          </table>
                          {%else%}
                          <p>Now Shoe here</p>
                          {%endif%}
                          <button type="button" class="btn btn-outline-primary">Add Show</button>
                        </div>
                       
                      </div>

                    <!-- end of venue1 -->
                  </div>
               {%endfor%}
                  
                </div>
                {%else%}
                <h3 class="center">No Venue available</h3>
                {%endif%}
                </div>
                <div class="center"><button type="button" class="btn btn-primary">+Add Venue</button>
              </div>
              {%endblock%}
       