{%extends "user_layout.html"%}
{%block content%}
{%if theatres%}
      {%for theatre in theatres%}
        {%if theatre.shows%}
              <!-- venue1 started -->
              <div class="outer_box">
                <!-- Venue#1 -->
                 {{theatre.name}}
              <div class="container">
                <div class="row">
                  {%for show in theatre.shows%}
                  <div class="col">
                    <!-- show 1 card here -->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{show.name}}</h5>
                          <h6 class="card-subtitle">{{show.tags}}</h6>
                          <button type="button" class="btn btn-outline-priamry">Book</button>
                        </div>
                       
                      </div>

                    
                  </div>
                  {%endfor%}
                 
                  
                </div>
              </div>
              </div>{%endif%}
              {%endfor%}
        
        {%else%}
        <h3 class="center">Sorry no theatre available</h3>
        {%endif%}
    {%endblock%}